#header-one {
				height: 11%;
				text-align: center;
				font-family: "宋体";
				font-size: 40px;
				padding-top: 10px;
			}
			
			#header-two {
				margin-top: 5px;
				height: 90px;
			}
			
			#one {
				width: 60px;
				height: 60px;
				font-size: 20px;
				text-align: center;
				padding-top: 5px;
				margin-left: 20px;
				border: 1px solid #FFFFFF;
				background-color: #84C1FF;
				float: left;
				border-radius: 10px;
			}
			
			#rest-main {
				margin-left: 20px;
				float: left;
			}
			
			#rest-main > div {
				width: 67px;
				height: 67px;
				line-height: 67px;
				text-align: center;
				border-radius: 100%;
				background-color: #84C1FF;
				float: left;
				margin-left: 15px;
				font-size: 30px;
			}
			
			#middle {
				width: 100%;
				height: 50px;
				background-color: #84C1FF;				
			}
			
			#middle > div {
				width: 10%;
				line-height: 50px;
				float: left;
				font-size: 27px;
				padding-left: 2%;
				
			}
			
			#middle-one {
				margin-left: 10%;
			}
			
			#footer {
				width: 100%;
				height: 1012px;
			}
			
			#footer-left {
				width: 10%;
				font-size: 27px;
				background-color: #84C1FF;
				text-align: center;
				float: left;
				margin-top: -2px;
				height: 1012px;
			}
			
			#footer-right {
				width: 90%;
				height: 1012px;
				background-color: #ACD6FF;
				margin-top: -1px;
				float: left;
			}
			
			#footer-left-one {
				height: 230px;
				line-height: 230px;
			}
			
			#footer-left-two {
				height: 230px;
				line-height: 230px;
			}
			
			#footer-left-three {
				height: 200px;
				line-height: 200px;
			}
			
			#footer-left-four {
				height: 200px;
				line-height: 200px;
			}
			
			#footer-left-five {
				height: 140px;
				line-height: 140px;
			}
			
			#footer-right-one {
				background-color: #FFFFFF;
				width: 80px;
				height: 150px;
				float: left;
				margin-left: 28%;
				margin-top: 110px;
				font-size: 20px;
				text-align: center;
			}
			
			#footer-right-two {
				background-color: #FFFFFF;
				width: 80px;
				float: left;
				height: 150px;
				margin-left: 2%;
				margin-top: 110px;
				font-size: 20px;
				text-align: center;
			}