			html,body{
				width: 100%;
				height: 100%;
				margin: 0px auto;
			}
			
			#header {
				height: 55px;
				padding-left: 15px;
			}
			
			#header-left {
				font-size: 35px;
				color: #000000;
				font-family: "宋体";
				padding-top: 10px;
				float: left;
				width: 30%;
			}
			
			#header-middle {
				font-size: 35px;
				color: #000000;
				font-family: "宋体";
				width: 30%;
				padding-top: 10px;
				float: left;
			}
			
			#header-right {
				float: right;
				width: 7%;
				padding-top: 15px;
				font-size: 30px;
				
				
			}
			.main > div,.main > div a {
				height: 75px;
				box-shadow: 0px 5px 5px -5px #999;
				line-height: 75px;
				margin-left: 15px;
				font-size: 25px;
			}
			
			#one a,#two a,#eleven a,#twelve a,#thirteen a {
				
				color: #E1E100;
				float: right;
				padding-right: 30px;
			}
			
			#three a,#six a, #eight a,#ten a {
				color: #00DB00;
				float: right;
				padding-right: 30px;
			}
			
			#four a,#five a,#nine a {
				color: #1E90FF;
				float: right;
				padding-right: 30px;
			}
			
			#seven a {
				color: #FF0000;
				float: right;
				padding-right: 30px;
			}
			
			#footer {
				width: 100%;
				height: 85px;
				box-shadow: 0px 5px 5px -5px #999;
			}